<%- include ('partials/header') %>

<style>
    .thumbnail img{
        max-height: 300px;
    }

    .thumbnail .description{
        color: darkgrey
    }
</style>  

  <div class="container">
      <div class="row">
  <ul>
    <li class="span4" style="list-style-type: none">
        <div class="col-sm-3">
        <div class="thumbnail">
          <img src="images/lor.jpg" alt="lor" class="img-responsive">
          <h3>Thumbnail label</h3>
          <p class="description">Thumbnail caption</p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
          <a class="btn btn-primary btn-success pull-right" role="button">View Item</a>
          </div>
        </div>
        
        </div>
      </li>
      <li class="span4" style="list-style-type: none">
        <div class="col-sm-3">
        <div class="thumbnail">
          <img src="images/lor.jpg" alt="lor" class="img-responsive">
          <h3>Thumbnail label</h3>
          <p class="description">Thumbnail caption</p>
          <div class="clearfix">
            <div class="price pull-left">$12</div>
          <a class="btn btn-primary btn-success pull-right" role="button">View Item</a>
          </div>
        </div>
        
        </div>
      </li>
  </ul>
</div>
</div>

