<%- include('partials/header') %>
    <div class="bg-color text-center">
        <div id="mainDiv">
            <h1 class="display-1" style="font-family: 'Lobster', cursive;">Dress Up</h1>
            <p class="display-4">The Ultimate Fasion Store</p>
            <a class="btn btn-primary btn-lg" href="/items/">View Styles</a>
        </div>
    </div>
<%- include('partials/footer') %>
