<!DOCTYPE html>
<html>
    <head>
        <title>Online clothing</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    </head>
    <body>
        <h1>Online Clothing</h1>
        <h2><%=title%></h2>
    </body>
</html>