body, html {
  height: 100%;
  width: 100%;
}

.bg {
  padding-top: 3rem;
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-top: 5rem;
}

.auth-form {
  margin: auto;
  width: 100%;
}

.card {
  margin: 0 10px;
}

.card-img-top {
  height: 250px;
}

.img-fluid {
  min-width: 300px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
}

.cart-img {
  width: 135px;
  height: 135px;
}

#uploaded_img {
  max-width: 400px;
  max-height: 450px;
}

.pagination > span {
  margin: auto 10px;
}

.icon {
  width: 20x;
  height: 20px;
}

.card-title {
  font-size: x-large;
  font-weight: bolder;
}

.price {
  font-size: x-large;
  font-weight: 800;
}

.price-lite {
  font-size: larger;
  font-weight: 500;
}

.del-cart {
  padding-top: 0em;
}