.container {
  padding-top: 5rem;
}

.auth-form {
  margin: auto;
  width: 100%;
}

.card {
  margin: 0 10px;
}

.card-img-top {
  height: 250px;
}

.img-fluid {
  border: 1px solid black;
  min-width: 300px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
}

/* .details {
  padding-top: 3rem;
} */

.cart-img {
  width: 135px;
  height: 135px;
}

#uploaded_img {
  max-width: 400px;
  max-height: 450px;
}

.pagination {
  padding: 5rem;
}

.pagination > span {
  margin: auto 10px;
}

.icon {
  width: 20x;
  height: 20px;
}

.cart-title {
  padding-top: 2em;
}

.del-cart {
  padding-top: 0em;
}