<!DOCTYPE html>
<html>
    <head>
        <title>Online Clothing</title>
    </head>
    <body>
        <h1>You have successfully logged in!</h1>
        <% if (user) { %><h2>Welcome <%=user.firstname%>, <%=user.lastname%></h2><% } %>
    </body>
</html>